$primary-color: #2874f0;

.main {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: white;
}

html,
body {
  padding: 0;
  margin: 0;
}

.category-bar {
  background-color: $primary-color;
  color: white;
  padding: 10px;
}

.category-items {
  display: flex;
  flex-direction: row;
  overflow: auto;
}

.category-item {
  margin-left: 10px;
  margin-right: 10px;
  white-space: nowrap;
  text-transform: capitalize;
  cursor: pointer;
  color: white;
  text-decoration: none;
}

.selected {
  color: #ffe500;
}

.product-list {
  flex: 1 0 0;
  overflow: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}

.product-card {
  width: 200px;
  border: 1px solid;
  margin: 5px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.product-image {
  width: 100%;
  img {
    width: 100%;
    height: 200px;
    object-fit: contain;
    object-position: center;
  }
}
.product-details {
  padding: 10px;
  background-color: #f2f2f2;
  flex: 1 0 0;
}

.product-title {
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.product-buy {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}

.product-add {
  background-color: $primary-color;
  color: white;
  border-radius: 4px;
  padding: 5px;
  outline: none;
}

.product-control {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.product-quantity {
  padding: 10px;
}
