$primary-color: #2874f0;

.main {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: white;
}

html,
body {
  padding: 0;
  margin: 0;
}

.category-bar {
  background-color: $primary-color;
  color: white;
  padding: 10px;
}

.category-items {
  display: flex;
  flex-direction: row;
  overflow: auto;
}

.category-item {
  margin-left: 10px;
  margin-right: 10px;
  white-space: nowrap;
  text-transform: capitalize;
  cursor: pointer;

  &.selected {
    color: #ffe500;
  }
}
.product-list {
  flex: 1 0 0;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
